@import './constant.scss';

.cv-form {
    margin: 0 100px;
    .cv-form-head {
        display: flex;
        justify-content: center;
        &-title {
            @include fontPoppins(24px);
            margin: 30px;
            font-weight: 500;
            color: #608af5;
            width: 300px;
            text-align: center;
        }
    }
    &__form {
        padding: 20px 0;
        border-radius: 10px;
        margin: 0px 0 25px;
        &-group {
            @include fontPoppins(20px);
            text-align: left;
            margin: 10px 0;
            color: #14279b;
        }
        &-rowInfor {
        }
    }
    &-footer {
        display: flex;
        justify-content: space-between;
        div {
            background-color: #608af5;
            @include fontPoppins(18px);
            color: white;
            padding: 10px;
            border-radius: 7px;
            cursor: pointer;
        }
    }
}
