@import '../../sass/constant.scss';

.header {
    display: flex;
    justify-content: space-around;
    margin: 35px 35px 0 35px;
    &-icon {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &-item {
        display: flex;
        justify-content: space-around;
        width: 70%;
        div {
            cursor: pointer;
            @include fontPoppins(18px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__contact {
            padding: 10px;
            background-color: #608af5;
            color: #ffff;
            border-radius: 10px;
        }
    }
}
